<app-header [titulo]="titulo" [imagen]="imagen"></app-header>

<div class="container">
    <div class="titulo" data-aos="fade-up" data-aos-duration="1200">
        <p>Madurez digital del sector microempresarial</p>
    </div>
    <div class="imagen" data-aos="fade-up" data-aos-duration="1200">
        <img src="../../../assets/Home/madurez-digital.jpg" alt="">
    </div>
    <div class="texto" data-aos="fade-up" data-aos-duration="1200">
        <p>Durante los últimos años hemos oído hablar mucho sobre transformación digital en varios contextos, para las
            empresas la transformación digital es un paso fundamental que les permitirá mantenerse en el mercado y
            seguir creciendo de forma sostenida. </p>
        <p>Un primer paso para afrontar este reto es que las empresas sepan dónde se encuentran y dónde quieren estar,
            para ello se propone evalúen su nivel de madurez digital en este caso utilizando el marco denominado DIGROW
            propuesto por el Instituto.
        </p>
        <ol>
            <li>Detectar los potenciales de crecimiento digital</li>
            <li>Desarrollar una estrategia y una mentalidad de crecimiento digital</li>
            <li>Aprovechar los potenciales de crecimiento digital</li>
            <li>Gestión de recursos para la transformación digital</li>
        </ol>
        <p></p>
        <p></p>
    </div>
</div>

<app-parallax [titulo]="titulo_parallax" [imagen]="imagen_parallax"></app-parallax>
<app-auspiciantes></app-auspiciantes>
<app-footer></app-footer>
<app-button-top></app-button-top>