<app-header [titulo]="titulo" [imagen]="imagen"></app-header>

<div class="container">
    <div class="titulo" data-aos="fade-up" data-aos-duration="1200">
        <p>Competitividad del sector microempresarial</p>
    </div>
    <div class="imagen" data-aos="fade-up" data-aos-duration="1200">
        <img src="../../../assets/Home/competitividad.jpg" alt="">
    </div>
    <div class="texto" data-aos="fade-up" data-aos-duration="1200">
        <p>La empresa como agente económico también se ha visto modificada por la naturaleza cambiante de las fuentes
            del crecimiento económico y la estructura de los mercados. En la actualidad las economías se modifican del
            lado de la demanda lo que se conoce como efecto red, y las empresas enfrentan estos nuevos retos desde
            diferentes perspectivas.</p>
        <p>La competitividad definida “como la capacidad de una empresa para producir y mercadear productos en mejores
            condiciones de precio, calidad y oportunidad que sus rivales” (Porter, 1982). Es decir, una empresa es
            competitiva si tiene una gestión que le dé una ventaja frente a sus competidores y le permita ser un
            referente en el mercado. Por lo tanto, podríamos decir que la competitividad es la capacidad que tiene una
            empresa para diferenciarse de la competencia y alcanzar éxito a través del posicionamiento en el mercado y
            desarrollarse a largo plazo.
        </p>
        <p>Para que una empresa logre una real capacidad de generar valor a largo plazo su estrategia empresarial debe
            enfocarse en trazar un plan de ventaja competitiva sostenible en el tiempo. A la hora de definir una
            estrategia, las empresas deben buscar nuevos mercados, nuevas ideas de satisfacer las necesidades de los
            clientes, se debe tomar una tendencia específica e identificar las áreas críticas importantes que necesitan
            atención. Hay que volver a pensar en un producto para un cliente diferente. </p>
        <p>Hay nuevas demandas, nuevas formas de hacer las cosas y sobre todo nuevas tendencias en el mercado marcadas
            por la transformación digital, como un factor diferenciador en la competitividad y sostenibilidad de las
            empresas.</p>
    </div>
</div>

<app-parallax [titulo]="titulo_parallax" [imagen]="imagen_parallax"></app-parallax>
<app-auspiciantes></app-auspiciantes>
<app-footer></app-footer>
<app-button-top></app-button-top>