@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

.container{
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.container h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 40px 0px 0px 40px;
}