<app-header [titulo]="titulo" [imagen]="imagen"></app-header>

<div class="container">
    <div class="titulo" >
        <p>Ubícanos</p>
        <p class="subtitle">Digi&Com, Universidad Técnica Particular de Loja (UTPL)</p>
    </div>
    <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3980.1625784740722!2d-79.20152538542118!3d-3.9869566971004646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cb47fe833955bd%3A0xfd3e8617b7393995!2sUniversidad%20T%C3%A9cnica%20Particular%20de%20Loja!5e0!3m2!1ses!2sec!4v1654381181385!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="datos" >
        <div>
            <fa-icon [icon]="faLocationDot"></fa-icon>
            <span class="nav__name">Dirección: </span>San Cayetano Alto, Loja - Ecuador
        </div>
        <div>
            <fa-icon [icon]="faEnvelope"></fa-icon>
            <span class="nav__name">Correo electrónico: </span>digi.com@utpl.edu.ec
        </div>

        <div>
            <fa-icon [icon]="faPhone"></fa-icon>
            <span class="nav__name">Télefono: </span>(+593) 98 137 8085
        </div>

        <div>
            <fa-icon [icon]="faClock"></fa-icon>
            <span class="nav__name">Horario: </span>Lunes a Viernes - 8AM a 6PM
        </div>
    </div>
</div>

<app-auspiciantes></app-auspiciantes>
<app-footer></app-footer>
<app-button-top></app-button-top>