<button mat-icon-button mat-dialog-title mat-dialog-close>
    <mat-icon class="expand_more">close</mat-icon>
</button>
<mat-dialog-content class="mat-typography">
    <div class="container">
        <mat-spinner style="margin:0 auto;" [mode]="mode" [color]="color" *ngIf="loading" diameter="30">
        </mat-spinner>
        <div *ngIf="!loading">
            <div class="text" *ngIf="!isSuccessful">Se va a eliminar la publicación: "{{publicacion.titulo}}"</div>
            <div class="text" *ngIf="!isSuccessful">¿Desea continuar?</div>
            <div class="botones" *ngIf="!isSuccessful">
                <button type="button" (click)="deletePublicacion()">
                    <p *ngIf="!loading2">Eliminar</p>
                    <p>
                        <mat-spinner style="margin:0 auto;" [mode]="mode" [color]="color2" *ngIf="loading2"
                            diameter="20">
                        </mat-spinner>
                    </p>
                </button>
            </div>
        </div>
        <div class="acceso-exitoso" *ngIf="isSuccessful">
            <img src="../../../assets/updateOk.svg" class="image" alt="" />
            <h3>La publicación se eliminó con éxito!</h3>
        </div>
    </div>
</mat-dialog-content>