<div class="contenido">
    <h1 class="titulo">Resultados obtenidos</h1>
    <p class="subtitulo">Estos datos solo estan disponibles para personal del proyecto</p>
    <div class="paginador">
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Madurez Digital">
                <div class="madurez">
                    <iframe width="100%" height="460"
                    src="https://app.powerbi.com/reportEmbed?reportId=1d94689a-f26a-4f0f-8068-0ca06d9f3d97&autoAuth=true&ctid=6eeb49aa-436d-43e6-becd-bbdf79e5077d&navContentPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </mat-tab>
            <!--mat-tab label="Competitividad">
                <div class="competitividad">
                    <iframe width="100%" height="460"
                    src="https://app.powerbi.com/reportEmbed?reportId=188292f0-cd2d-4467-ae2d-6a376c184291&autoAuth=true&ctid=6eeb49aa-436d-43e6-becd-bbdf79e5077d&navContentPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </mat-tab-->
        </mat-tab-group>
    </div>
</div>