<div class="contenido">
    <div class="menu">
        <div class="line1">
            <div class="derechos">
                <img src="../../../assets/utpl.png" alt="">
            </div>
            <div class="web">
                <a>
                    <fa-icon [icon]="faFacebookF"></fa-icon>
                </a>
                <a>
                    <fa-icon [icon]="faTwitter"></fa-icon>
                </a>
                <a>
                    <fa-icon [icon]="faInstagram"></fa-icon>
                </a>
                <a>
                    <fa-icon [icon]="faYoutube"></fa-icon>
                </a>
                <a>
                    <fa-icon [icon]="faDribbble"></fa-icon>
                </a>
            </div>
            <div class="contactos">
                <div class="info">
                    <p>Contactos</p>
                    <p>Teléfono: (+593) 98 137 8085</p>
                    <p>Mail: digi.com@utpl.edu.ec</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Derechos reservados UTPL 2022</p>
    </div>
</div>