<div class="dsc-carousel" [ngStyle]="{'min-height': finalHeight}">
    <div class="dsc-carousel_content">
        <ng-container *ngFor="let section of items">
            <div class="dsc-carousel_content-item"
                [ngStyle]="{'background-image': 'url(' + section.image + ')', 'margin-left': section.marginLeft + '%'}">
                <div class="content">
                    <h1>{{section?.title?.first}}</h1>
                    <p>{{section.subtitle}}</p>
                    <button mat-flat-button (click)="abrirLink('https://survey123.arcgis.com/share/dd498dbccd344e6fa27c45c062e53ec0')">EVALÚATE</button>
                </div>
            </div>
        </ng-container>
    </div>
</div>