@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

.example-icon {
    padding: 0 14px;
}

.content{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ffffff;
}


.mat-toolbar{
    background-color: #ffffff;
    top: 0;
    bottom: auto;
    font-family: 'Quicksand', sans-serif;
}

.mat-toolbar span{
    font-weight: bold;
    margin-left: 20px;
    font-size: 16px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-sidenav{
    background-color: #F5F5F5;
    position: fixed;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;

}

.nav__logo-name{
    color: #ffffff;
    text-align: center;
    padding: 1.5em 0em;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

/*.mat-nav-list{
    margin-top: 10px;
}*/

.nav__name{
    margin-right: 55px;
    margin-left: 15px;
}


.nav__link{
    color: #000000;
    font-size: 1rem;
    transition: .3s;
    margin-top: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0px -5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    
}

.nav__link:hover{
    background-color: #c7bfbf;
    
}

.mat-nav-list>.active{
    background-color: #0A66C2;
    color: #ffffff;
}

.open {
    color: #000000;
    cursor: pointer;
    margin-left: 10px;
}

.close{
    color: #000000;
    margin-left: 250px;
    cursor: pointer;
}

.content{
    background-color: #ffffff;
   /*margin-top: 70px;*/
}

.no_autorizado{
    text-align: center;
    margin-top: 100px;
}
/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 768px){
    .nav__name{
        display: none;
    }

    .nav__logo-name{
        display: none;
    }

    .mat-nav-list{
        margin-top: 70px;
    }

    .close{
        margin-left: 60px;
    }

}


