<button mat-icon-button mat-dialog-title mat-dialog-close>
    <mat-icon class="expand_more">close</mat-icon>
</button>

<mat-dialog-content class="mat-typography">
    <div class="container">
        <mat-spinner style="margin:0 auto;" [mode]="mode" [color]="color" *ngIf="loading" diameter="30">
        </mat-spinner>
        <div *ngIf="!loading">
            <div class="text" *ngIf="!isSuccessful">Actulización de datos</div>
            <br *ngIf="!isSuccessful">
            <p class="campo-requerido" *ngIf="!isSuccessful">* Campo requerido</p>
            <form  name="form_empresa" *ngIf="!isSuccessful" (ngSubmit)="g.form.valid && onSubmit()" #g="ngForm" novalidate>
                <p>Razón social: * <span class="alert alert-danger" role="alert" *ngIf="razonSocial.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <input type="text" name="razonSocial" [(ngModel)]="form_empresa.razonSocial" #razonSocial="ngModel" required>
                </div>

                <p>RUC: * <span class="alert alert-danger" role="alert" *ngIf="ruc.errors && g.submitted">Campo requerido</span>
                    <span class="alert alert-danger" role="alert" *ngIf="ruc.errors?.['minlength']">Mínimo 13 números</span>
                    <span class="alert alert-danger" role="alert" *ngIf="ruc.errors?.['maxlength']">Máximo 13 números</span></p>
                <div class="data">
                    <input type="text" name="ruc" [(ngModel)]="form_empresa.ruc" #ruc="ngModel" required minlength="13"
                    maxlength="13" pattern="[0-9]+">
                </div>

                <p>Dirección: * <span class="alert alert-danger" role="alert" *ngIf="direccion.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <input type="text" name="direccion" [(ngModel)]="form_empresa.direccion" #direccion="ngModel" required >
                </div>

                <p>Teléfono: * <span class="alert alert-danger" role="alert" *ngIf="telefono.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <input type="text" name="telefono" [(ngModel)]="form_empresa.telefono" #telefono="ngModel" required >
                </div>

                <p>Correo electrónico: * <span class="alert alert-danger" role="alert" *ngIf="correo.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <input type="email" name="correo" [(ngModel)]="form_empresa.correo" #correo="ngModel" required
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                </div>

                <p>Página web: <span class="alert alert-danger" role="alert" *ngIf="paginaWeb.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <input type="text" name="paginaWeb" [(ngModel)]="form_empresa.paginaWeb" #paginaWeb="ngModel">
                </div>

                <p>Número de empleados (Hombres): * <span class="alert alert-danger" role="alert" *ngIf="empleadosHombres.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <input type="number" name="empleadosHombres" [(ngModel)]="form_empresa.empleadosHombres" #empleadosHombres="ngModel" required>
                </div>

                <p>Número de empleados (Mujeres): * <span class="alert alert-danger" role="alert" *ngIf="empleadosMujeres.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <input type="number" name="empleadosMujeres" [(ngModel)]="form_empresa.empleadosMujeres" #empleadosMujeres="ngModel" required>
                </div>

                <p>Tipo de microempresa: * <span class="alert alert-danger" role="alert" *ngIf="tipo.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <select name="tipo" [(ngModel)]="form_empresa.tipo" #tipo="ngModel" required >
                        <option [value]="a.tipo" *ngFor="let a of tipos">{{a.tipo}}</option>
                    </select>
                </div>

                <p>Actividad de la microempresa: * <span class="alert alert-danger" role="alert" *ngIf="actividad.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <select name="actividad" [(ngModel)]="form_empresa.actividad" #actividad="ngModel" required >
                        <option [value]="a.actividad" *ngFor="let a of actividades">{{a.actividad}}</option>
                    </select>
                </div>
               

                <p>¿Pertenece a alguna asociación relacionada con la actividad que realiza la microempresa?: * <span class="alert alert-danger" role="alert" *ngIf="perteneceAsociacion.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <select name="perteneceAsociacion" [(ngModel)]="form_empresa.perteneceAsociacion" #perteneceAsociacion="ngModel" required >
                        <option [value]="a" *ngFor="let a of pertenece">{{a}}</option>
                    </select>
                </div>

                <p>¿En caso de no pertenecer a una asociación, estaría dispuesto a asociarse?: * <span class="alert alert-danger" role="alert" *ngIf="quiereAsociacion.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <select name="quiereAsociacion" [(ngModel)]="form_empresa.quiereAsociacion" #quiereAsociacion="ngModel" required >
                        <option [value]="a" *ngFor="let a of pertenece">{{a}}</option>
                    </select>
                </div>

                <p>Provincia: * <span class="alert alert-danger" role="alert" *ngIf="provincia.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <select name="provincia" [(ngModel)]="form_empresa.provincia" #provincia="ngModel" required >
                        <option [value]="a" *ngFor="let a of provincias">{{a}}</option>
                    </select>
                </div>

                <p>Imagen de la microempresa:<span class="alert alert-danger" role="alert" *ngIf="file.errors && g.submitted"></span></p>
                <div class="data">
                    <input type="file" name="file" (change)="onChange($event)" [(ngModel)]="form_empresa.file" #file="ngModel">
                </div>

                <button type="submit">
                    <p *ngIf="!loading2">Actualizar</p>
                    <p>
                        <mat-spinner style="margin:0 auto;" [mode]="mode" [color]="color2" *ngIf="loading2"
                            diameter="20"></mat-spinner>
                    </p>
                </button>
                <div class="form-group">
                    <div class="alert alert-danger error" role="alert" *ngIf="g.submitted && isSignUpFailed">{{
                        errorMessage }}</div>
                </div>
            </form>
        </div>
        <div class="acceso-exitoso" *ngIf="isSuccessful">
            <img src="../../../assets/updateOk.svg" class="image" alt="" />
            <h3>Tu empresa se actualizó con éxito!</h3>
        </div>
    </div>
</mat-dialog-content>