<mat-toolbar class="animated fadeInDown" id="navbar">
  <mat-toolbar-row class="header_contactos" >
    <div class="spacer"></div>
    <span class="contactos">
      <a mat-button>
        <fa-icon [icon]="faPhone"></fa-icon> (593) 0997574718
      </a>
      <a mat-button>
        <fa-icon [icon]="faEnvelope"></fa-icon> info@turuta.com
      </a>
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row class="menu" *ngIf="isLoggedIn">
    <span>
      <a mat-button routerLink="/mi-empresa" class="icon">
        <fa-icon [icon]="faRocket"></fa-icon> Competitividad
      </a>
    </span>
    <div class="spacer"></div>
    <div class="opciones">
      <a mat-button class="username">{{username}}</a>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="expand_more">expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon class="account_circle">person_outline</mat-icon>
          <span>Perfíl</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon class="logout">logout</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
  
  <mat-toolbar-row class="menu" #stickyMenu [class.sticky]="sticky" *ngIf="!isLoggedIn">
    <span>
      <a mat-button routerLink="/home" class="icon">
        <fa-icon [icon]="faRocket"></fa-icon> Competitividad
      </a>
    </span>
    <div class="spacer"></div>
    <div class="opciones">
      <a mat-button routerLink="/home" routerLinkActive="active">Inicio</a>
      <a mat-button routerLink="/r" routerLinkActive="active">Proyectos</a>
      <a mat-button routerLink="a" routerLinkActive="active">Contactos</a>
      <a mat-button routerLink="/registro" routerLinkActive="active">Regístrate</a>
      <a mat-button routerLink="/mi-empresa" routerLinkActive="active">Evalúate</a>
    </div>
  </mat-toolbar-row>

</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>