<mat-toolbar class="animated fadeInDown" id="navbar">
  <mat-toolbar-row class="header_contactos">
    <div class="spacer"></div>
    <span class="contactos">
      <a mat-button>
        <fa-icon [icon]="faPhone"></fa-icon> (593) 0997574718
      </a>
      <a mat-button>
        <fa-icon [icon]="faEnvelope"></fa-icon> info@turuta.com
      </a>
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row class="menu" *ngIf="isLoggedIn">
    <span>
      <a mat-button routerLink="/mi-empresa" class="icon">
        <fa-icon [icon]="faRocket"></fa-icon><span> Digi&Com</span>
      </a>
    </span>
    <div class="spacer"></div>
    <div class="opciones" fxShow="true" fxHide.lt-md>
      <a mat-button class="username">{{username}}</a>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="expand_more">expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="mi-empresa/perfil">
          <mat-icon class="account_circle">person_outline</mat-icon>
          <span>Perfíl</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon class="logout">logout</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>
    </div>

    <div fxShow="true" fxHide.gt-sm>
      <button mat-icon-button [matMenuTriggerFor]="dropMenu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #dropMenu="matMenu">
        <a mat-button class="username">{{username}}</a>
        <button mat-menu-item routerLink="mi-empresa/perfil">
          <mat-icon class="account_circle">person_outline</mat-icon>
          <span>Perfíl</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon class="logout">logout</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>
    </div>

  </mat-toolbar-row>

  <mat-toolbar-row class="menu" #stickyMenu [class.sticky]="sticky" *ngIf="!isLoggedIn">
    <span>
      <a mat-button routerLink="/home" class="icon">
        <fa-icon [icon]="faRocket"></fa-icon><span> Digi&Com</span>
      </a>
    </span>
    <div class="spacer"></div>
    <div class="opciones" fxShow="true" fxHide.lt-md>
      <a mat-button routerLink="/home" routerLinkActive="active">Inicio</a>
      <a mat-button routerLink="/proyecto" routerLinkActive="active">Proyecto</a>
      <a mat-button routerLink="/contactos" routerLinkActive="active">Contactos</a>
      <a mat-button routerLink="/publicaciones" routerLinkActive="active">Blog</a>
      <a mat-button routerLink="/registro" routerLinkActive="active">Regístrate</a>
      <a mat-button routerLink="/mi-empresa" routerLinkActive="active">Evalúate</a>
    </div>

    <div fxShow="true" fxHide.gt-sm>
      <button mat-icon-button [matMenuTriggerFor]="dropMenu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #dropMenu="matMenu">
        <button mat-menu-item routerLink="/home" class="hover" routerLinkActive="active">
          <mat-icon class="account_circle" class="opciones_menu">home</mat-icon>
          <span class="opciones_menu">Inicio</span>
        </button>
        <button mat-menu-item routerLink="/proyecto" class="hover" routerLinkActive="active">
          <mat-icon class="account_circle" class="opciones_menu">work</mat-icon>
          <span class="opciones_menu">Proyecto</span>
        </button>
        <button mat-menu-item routerLink="/contactos" class="hover" routerLinkActive="active">
          <mat-icon class="account_circle" class="opciones_menu">call</mat-icon>
          <span class="opciones_menu">Contactos</span>
        </button>
        <button mat-menu-item routerLink="/publicaciones" class="hover" routerLinkActive="active">
          <mat-icon class="account_circle" class="opciones_menu">rss_feed</mat-icon>
          <span class="opciones_menu">Blog</span>
        </button>
        <button mat-menu-item routerLink="/registro" class="hover" routerLinkActive="active">
          <mat-icon class="account_circle" class="opciones_menu">app_registration</mat-icon>
          <span class="opciones_menu">Regístrate</span>
        </button>
        <button mat-menu-item routerLink="/mi-empresa" class="hover" routerLinkActive="active">
          <mat-icon class="account_circle" class="opciones_menu">login</mat-icon>
          <span class="opciones_menu">Evalúate</span>
        </button>
      </mat-menu>
    </div>

  </mat-toolbar-row>

</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>