<div class="container">
    <!--div class="panel">
        <div class="left-panel">
            <div class="content">
                <h3>Competitividad del sector empresarial</h3>
                <p>Evalúate y conoce la competitividad actual de tu empresa frente a la competencia.</p>
                <button class="btn-registro" routerLink="/evaluate/competitividad">
                    Evalúate
                </button>
            </div>
            <img src="../../../assets/competitividad.svg" class="image" alt="" />
        </div>
    </div-->
    <div class="panel">
        <div class="rigth-panel">
            <div class="content">
                <h3>Madurez digital del sector empresarial</h3>
                <p>Esta evaluación te permitirá conocer la madurez digital de tu empresa.</p>
                <button class="btn-registro" routerLink="/evaluate/madurez-digital">
                    Evalúate
                </button>
            </div>
            <img src="../../../assets/madurez2.svg" class="image" alt="" />
        </div>
    </div>
</div>

<app-auspiciantes></app-auspiciantes>
<app-footer></app-footer>
<app-button-top></app-button-top>