<div class="container">
    <h1>Evaluación de Competitividad</h1>
    <div *ngIf="!loading">
        <div class="left-panel" *ngIf="!showMicroBoard">
            <img src="../../../assets/seguridad.svg" class="image" alt="" />
            <h3>NO AUTORIZADO</h3>
            <p>Tu rol no te permite acceder a esta sección</p>
        </div>
        <div *ngIf="showMicroBoard">
            <div class="rigth-panel" *ngIf="!isEmpresa">
                <img src="../../../assets/empresaNot.svg" class="image" alt="" />
                <h3>Tu empresa aún no está registrada</h3>
                <p>Registrala para evaluarte y conocer la competitividad y madurez digital de tu empresa</p>
                <button class="btn-registro" routerLink="/mi-empresa/datos">
                    Registra tu empresa
                </button>
            </div>
            <div class="evaluacion" *ngIf="isEmpresa">
                <div id="formDiv" class="formDiv">
                    <iframe name="survey123webform" width="100%" height="490" frameborder="0" marginheight="0"
                        marginwidth="0" title="My Survey" [src]=trustedDashboardUrl
                        allow="geolocation https://survey123.arcgis.com; camera https://survey123.arcgis.com"></iframe>
                </div>
            </div>
        </div>
    </div>
    <mat-spinner style="margin:0 auto;" [mode]="mode" [color]="color" *ngIf="loading" diameter="30"></mat-spinner>
</div>