<div class="container" *ngIf="!loading">
    <h1>Evaluación</h1>
    <div class="rigth-panel" *ngIf="!isEmpresa">
        <img src="../../../assets/empresaNot.svg" class="image" alt="" />
        <h3>Tu empresa aún no está registrada</h3>
        <p>Registrala para evaluarte y conocer la competitividad y madurez digital de tu empresa</p>
        <button class="btn-registro" routerLink="/mi-empresa/datos">
            Registra tu empresa
        </button>
    </div>
    <div class="rigth-panel" *ngIf="isEmpresa">
        <p>Evaluación</p>
    </div>
</div>

<mat-spinner style="margin:0 auto;" mode="indeterminate" *ngIf="loading" diameter="30"></mat-spinner>