<div class="contenedor">
    <mat-spinner style="margin:0 auto;" [mode]="mode" [color]="color" *ngIf="loading2" diameter="30"></mat-spinner>
    <div *ngIf="!loading2">
        <div class="publicacion">
            <div class="titulo">
                <p>{{publicacion.titulo}}</p>
            </div>
            <div class="imagen">
                <img src="{{publicacion.imagen}}" alt="">
            </div>
            <div class="texto">
                <p [innerHTML]="publicacion.descripcion"></p>
            </div>
        </div>
        <div class="otras" *ngIf="!loading2">
            <p class="titulo_otras">Otras publicaciones que te pueden interesar</p>
            <mat-spinner style="margin:0 auto;" [mode]="mode" [color]="color" *ngIf="loading2" diameter="25"></mat-spinner>
            <div class="list_publicaciones">
                <div  class="pub" *ngFor="let p of publi_filter">
                    <p routerLink="/publicacion/{{p.titulo}}" (click)="reload(p.titulo)">{{p.titulo}}</p>
                </div>
            </div>
        </div>
    </div>
    
</div>