@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');


.contenedor{
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}

.contenedor .publicacion{
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid #635d5d;
}

.contenedor .publicacion .datos{
    width: 100%;
    margin-top: 15px;
    
}

.contenedor .publicacion .datos p{
    color: #635d5d;
    font-family: 'Quicksand', sans-serif;
}

.contenedor .publicacion .titulo{
    width: 100%;
}

.contenedor .publicacion .titulo p{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    line-height: 40px;
    font-weight: 600;
    margin-top: 20px;
    color: #0A66C2;
}

.contenedor .publicacion .imagen{
    width: 100%;
    margin-top: 30px;
}

.contenedor .publicacion .imagen img{
    width: 100%;
}

.contenedor .publicacion .texto{
    width: 100%;
    margin-top: 30px;
    text-align: justify;
    font-size: 15px;
    line-height: 25px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 30px;

}

.contenedor .otras{
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}

.contenedor .otras .pub{
    width: 30.5%;
    display: inline-block;
    padding: 15px 15px;
    vertical-align: top;
}

.contenedor .otras .titulo_otras{
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 550;
    margin-top: 30px;
}

.contenedor .otras .pub .imagen_publicaciones{
    width: 100%;
}

.contenedor .otras .pub .imagen_publicaciones img{
    width: 100%;
}

.contenedor .otras .pub .titulo_publicacion{
    width: 100%;
    margin-top: 10px;
}

.contenedor .otras .pub .titulo_publicacion p{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #0A66C2;
}

.contenedor .otras .pub .texto_publicacion{
    width: 100%;
    margin-top: 10px;
}

.contenedor .otras .pub .texto_publicacion p{
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    line-height: 25px;
}

.contenedor .otras .pub .titulo_publicacion p:hover{
    color: #F4AB14;
    cursor: pointer;
}


@media screen and (max-width: 900px) {
    .contenedor .publicacion{
        width: 90%;
    }

    .contenedor .otras .pub{
        width: 44%;
    }
}

@media screen and (max-width: 800px) {
    .contenedor .otras .pub{
        width: 100%;
    }
}

