<div class="container">
    <div class="competitividad">
        <div class="imagen">
            <div class="fondo"></div>
        </div>
        <div class="texto">
            <h3>Competitividad</h3>
            <p>La competitividad empresarial es un término que se define 
                como la capacidad de un negocio para producir y 
                vender productos/servicios que cumplan con la calidad de 
                los mercados, al mismo precio o con precios más bajos, 
                y maximizando los rendimientos de los recursos consumidos 
                para producirlos.</p>
        </div>
        <div class="boton">
            <button routerLink="/proyecto/competitividad">
                Conoce más
            </button>
        </div>
    </div>
    <div class="digital">
        <div class="imagen">
            <div class="fondo"></div>
        </div>
        <div class="texto">
            <h3>Madurez digital</h3>
            <p>La madurez digital de una empresa se refiere a su capacidad de abordar 
                el cambio de paradigma de la Industria 4.0. Este nivel de madurez puede 
                variar en función de las herramientas y procesos que ya tenga implementados, 
                para saber cuáles son los siguientes pasos a dar.</p>
        </div>
        <div class="boton">
            <button routerLink="/proyecto/madurez-digital">
                Conoce más
            </button>
        </div>
    </div>
</div>