<div class="container">
    <div class="competitividad">
        <div class="imagen">
            <div class="fondo"></div>
        </div>
        <div class="texto">
            <h3>Competitividad</h3>
            <p>La competitividad empresarial es un término que se define 
                como  a la capacidad de un negocio para producir y 
                vender productos / servicios que cumplan con la calidad de 
                los mercados, al mismo precio o con precios más bajos, 
                y maximizando los rendimientos de los recursos consumidos 
                para producirlos.</p>
        </div>
        <div class="boton">
            <button>
                Conoce más
            </button>
        </div>
    </div>
    <div class="digital">
        <div class="imagen">
            <div class="fondo"></div>
        </div>
        <div class="texto">
            <h3>Madurez digital</h3>
            <p>La competitividad empresarial es un término que se define 
                como  a la capacidad de un negocio para producir y 
                vender productos / servicios que cumplan con la calidad de 
                los mercados, al mismo precio o con precios más bajos, 
                y maximizando los rendimientos de los recursos consumidos 
                para producirlos.</p>
        </div>
        <div class="boton">
            <button>
                Conoce más
            </button>
        </div>
    </div>
</div>