@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');


.container{
    width: 85%;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    margin-top: 40px;
    margin-bottom: 110px;
}

.competitividad, .digital{
    width: 50%;
    margin: 0 auto;
    /*display: inline-block;*/
}

/*.digital{
    float: right;
}*/

.container .titulo{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000000;
}

.container .subtitulo{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 17px;
    margin-bottom: 30px;
    color: #000000;
}

.competitividad .imagen{
    width: 100%;
    background-image: url("../../../assets/Home/competitividad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

.digital .imagen{
    width: 100%;
    background-image: url("../../../assets/Home/madurez-digital.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

.competitividad .fondo, .digital .fondo{
    height: 350px;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center; 
}

.competitividad .texto, .digital .texto{
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
}

.competitividad .texto h3, .digital .texto h3{
    font-size: 18px;
    font-weight: 500;
}

.competitividad .texto p, .digital .texto p{
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
}

.competitividad .boton, .digital .boton{
    margin-top: 20px;
}

.competitividad .boton button, .digital .boton button{
        height: 45px;
        width: 25%;
        background-color: #0A66C2;
        border: none;
        color: #ffffff;
        font-size: 13px; 
        cursor: pointer;
        float: right;
        font-weight: 550;
}

.competitividad .boton button:hover, .digital .boton button:hover{
    background-color: #F4AB14;
    transition: 0.5s;
}

@media screen and (max-width: 900px){
    /*.container{
        height: 170vh;
    }*/

    .competitividad, .digital{
        width: 100%;   
    }

    .digital{
        margin-top: 30px;
    }

    .competitividad .boton button, .digital .boton button{
        height: 45px;
        width: 30%;
    
}

@media screen and (max-width: 700px){
    /*.container{
        height: 185vh;
    }*/
}

}