<div class="container">
    <h1 class="titulo">Madurez Digital del sector empresarial</h1>
    <p class="subtitulo">Conoce en qué consiste la madurez digital y cómo puede ayudar a tu empresa</p>
    <!--div class="competitividad">
        <div class="imagen">
            <div class="fondo"></div>
        </div>
        <div class="texto">
            <h3>Competitividad</h3>
            <p>La empresa como agente económico también se ha visto modificada por la naturaleza
                cambiante de las fuentes del crecimiento económico y la estructura de los mercados.
                En la actualidad las economías se modifican del lado de la demanda ...</p>
        </div>
        <div class="boton">
            <button routerLink="/proyecto/competitividad">
                Conoce más
            </button>
        </div>
    </div-->
    <div class="digital">
        <div class="imagen">
            <div class="fondo"></div>
        </div>
        <div class="texto">
            <h3>Madurez digital</h3>
            <p>Durante los últimos años hemos oído hablar mucho sobre transformación digital en varios 
                contextos, para las empresas la transformación digital es un paso fundamental que les 
                permitirá mantenerse en el mercado y seguir creciendo de forma sostenida.</p>
        </div>
        <div class="boton">
            <button routerLink="/proyecto/madurez-digital">
                Conoce más
            </button>
        </div>
    </div>
</div>