<div class="contenedor">
    <h1 class="titulo">Con el apoyo de</h1>
    <div class="carousel">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide class="slide"><a href="https://www.utpl.edu.ec/" target="_blank"><img src="../../../assets/Auspiciantes/utpl.png" alt=""></a></ng-template>

            <ng-template carouselSlide class="slide"><a href="https://smartland.utpl.edu.ec/" target="_blank"><img src="../../../assets/Auspiciantes/smartland.png" alt=""></a></ng-template>

            <ng-template carouselSlide class="slide"><a href="https://vinculacion.utpl.edu.ec/es/observatorios/obsemp" target="_blank"><img src="../../../assets/Auspiciantes/observatorio-empresarial.png" alt=""></a></ng-template>

            <ng-template carouselSlide class="slide"><a href="https://vinculacion.utpl.edu.ec/es/observatorios/obsiyt" target="_blank"><img src="../../../assets/Auspiciantes/observatorio-informacion.png" alt=""></a></ng-template>

            <ng-template carouselSlide class="slide"><a href="https://edes.utpl.edu.ec/" target="_blank"><img src="../../../assets/Auspiciantes/edes.png" alt=""></a></ng-template>
            
        </owl-carousel-o>
    </div>
</div>