<div class="contenedor">
    <h1 class="titulo">Con el apoyo de</h1>
    <div class="carousel">
        <owl-carousel-o [options]="customOptions">

            <ng-template carouselSlide class="slide"><a href=""><img src="../../../assets/p7.png" alt=""></a></ng-template>

            <ng-template carouselSlide class="slide"><a href=""><img src="../../../assets/p7.png" alt=""></a></ng-template>

            <ng-template carouselSlide class="slide"><a href=""><img src="../../../assets/p7.png" alt=""></a></ng-template>

            <ng-template carouselSlide class="slide"><a href=""><img src="../../../assets/p7.png" alt=""></a></ng-template>

            <ng-template carouselSlide class="slide"><a href=""><img src="../../../assets/p7.png" alt=""></a></ng-template>

        </owl-carousel-o>
    </div>
</div>