@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

.contenedor{
    width: 100%;
    background-color: #ffffff;
    padding: 2em 0em 3em 0em;
    box-sizing: border-box;
}

.contenedor .titulo{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}

.carousel{
    width: 80%;
    margin: 0 auto;
}


img{
    width: 75% !important;
}

@media screen and (max-width: 1110px){
    img{
        width: 60% !important;
    }
}

@media screen and (max-width: 700px){
    img{
        width: 100% !important;
    }

    .carousel{
        width: 50%;
        margin: 0 auto;
    }
}

