<div class="container" *ngIf="!isLoggedIn">
    <div class="panel">
        <div class="left-panel">
            <div class="content">
                <h3>¿Aún no te registraste?</h3>
                <p>Regístrate y evalúate para conocer la competitividad y madurez digital de tu empresa.</p>
                <button class="btn-registro" routerLink="/registro">
                    Regístrate
                </button>
            </div>
            <img src="../../../assets/log.svg" class="image" alt="" />
        </div>
    </div>
    <div class="formulario">
        <div class="login">
            <div class="text">Inicia sesión para continuar</div>
            <form  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="data">
                    <input type="text" name="username" [(ngModel)]="form.username" #username="ngModel"
                        placeholder="Nombre de usuario" required>
                    <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">Ingresa tu nombre
                        de usuario</div>
                </div>

                <div class="data">
                    <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
                        #password="ngModel" placeholder="Contraseña">
                    <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">Ingresa tu
                        contraseña</div>
                </div>


                <button type="submit">
                    <p *ngIf="!loading">Iniciar sesión</p>
                    <p>
                        <mat-spinner style="margin:0 auto;" [mode]="mode" [color]="color" *ngIf="loading"
                            diameter="20"></mat-spinner>
                    </p>
                </button>
                <div class="form-group">
                    <div class="alert alert-danger error" role="alert" *ngIf="f.submitted && isLoginFailed">{{
                        errorMessage }}</div>
                </div>
            </form>
        </div>
    </div>
 
</div>

<div class="acceso-exitoso" *ngIf="isLoggedIn">
    <app-mi-empresa></app-mi-empresa>
</div>