@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');


.container {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    /*margin-top: 50px;
    margin-bottom: 50px;*/
}

.panel {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    background-color: #ffffff;
}

.panel .content {
    text-align: center;
    padding: 75px 15px;
}

.panel h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #0A66C2;
    font-size: 20px;
}

.panel p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    padding: 0px 30px 10px 30px;
    color: #000000;
    font-size: 20px;
    line-height: 30px;
}

.left-panel {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.left-panel .image {
    width: 40%;
    margin-left: 240px;

}

.formulario {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 130px 0px;
    box-sizing: border-box;
}

.formulario .login {
    width: 75%;
    padding: 30px 30px;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px #383838;
}

.formulario .text {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.campo-requerido{
    color: red;
}

.formulario form .data {
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
}

form .data input {
    height: 35px;
    width: 100%;
    background-color: rgb(250, 251, 252);
    border-color: rgb(223, 225, 230);
    border-radius: 3px;
    border-style: solid;
    box-sizing: border-box;
    color: #000;
    display: flex;
    flex: 1 0 auto;
    font-size: 14px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    line-height: 1.42857;
    max-width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    border-width: 2px;
    padding: 6px;
}

form button {
    height: 45px;
    width: 100%;
    background-color: #0A66C2;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    padding-top: 15px;
}

.btn-registro {
    height: 35px;
    width: 125px;
    border: solid 2px #0A66C2;
    background-color: transparent;
    border-radius: 10px;
    color: #0A66C2;
    font-size: 13px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.btn-registro:hover{
    background-color: #0A66C2;
    color: #ffffff;
    transition: 1s;
}

::placeholder {
    font-family: 'Quicksand', sans-serif;
}

form .data input:focus {
    border-color: #0A66C2;
    outline: none;
}

.alert,
.error {
    padding: 5px 0px 0px 0px;
    color: red;
    font-family: 'Quicksand', sans-serif;
}

.error {
    text-align: center;
}

@media screen and (max-width: 900px) {
    .panel {
        width: 100%;
    }

    .left-panel {
        width: 100%;
        border-radius: 10px;
    }

    .left-panel .image {
        display: none;
    }


    .formulario {
        width: 100%;
    }

    .formulario .login {
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }
}