@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

.container{
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.container h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 0px 0px 0px 40px;
}

.rigth-panel{
    width: 60%;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 20px;
}

.imagen{
    width: 100%;
}

.detalles{
    width: 100%;
    background-color: #0A66C2;
    padding: 20px;
    box-sizing: border-box;
}

.imagen, .detalles{
    height: 100%;
    vertical-align: top;
}

.imagen{
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo{
    height: 250px;
    width: 100%;
    background: rgba(0, 0, 0, 0.48);
    display: flex;
    align-items: center; 
}

.rigth-panel .detalles .title{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    padding: 15px 20px 0px 40px;
}

.rigth-panel .detalles .title span{
    font-weight: 100;
}

.rigth-panel .detalles .detalle{
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    padding: 0px 20px 0px 40px;
}

.rigth-panel .detalles .button{
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.imagen h1{
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 34px;
    margin: 0 auto;
    width: 65%;
    text-align: center;
    line-height: 50px;
    z-index: 2;
    text-transform: uppercase;
}



.btn-registro{
    height: 35px;
    width: 200px;
    border: solid 2px #fff;
    background-color: transparent;
    border-radius: 10px;
    color: #fff;
    font-size: 14px; 
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.formulario{
    width: 100%;
    vertical-align: top;
    margin-top: 0;
    padding: 0;
}

.formulario .login{
    width: 25%;
    margin: 0 auto;
}

.formulario .text{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.formulario form .data{
    width: 100%;
    margin: 20px 0;
    box-sizing: border-box;
}

form .data input, form .data textarea, form .data select{
    height: 35px;
    width: 100%;
    background-color: rgb(250, 251, 252);
    border-color: rgb(223, 225, 230);
    border-radius: 3px;
    border-style: solid;
    box-sizing: border-box;
    color: #000;
    display: flex;
    flex: 1 0 auto;
    font-size: 14px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    line-height: 1.42857;
    max-width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    border-width: 2px;
    padding: 6px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;

}

form .data textarea{
    height: 60px;
}
form button{
    height: 45px;
    width: 100%;
    background-color: #0A66C2;
    border: none;
    color: #ffffff;
    font-size: 16px; 
    cursor: pointer;
    padding-top: 15px;
}

.left-panel{
    width: 50%;
    height: 50%;
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-top: 75px;
}

.left-panel .image{
    width: 30%;
    margin-left: 0px;
    
}

.left-panel h3{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 20px;
    padding: 20px 0px 0px 0px;
}

.left-panel p{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    padding: 0px 30px 10px 30px;
    color: #000;
    font-size: 16px;
}
