<div class="container">
    <div class="formulario">
    <div class="login" *ngIf="!isSuccessful">
            <div class="text">1. Datos de usuario</div>
            <br>
            <p class="campo-requerido">* Campo requerido</p>
            <form  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <p>Nombres: * <span class="alert alert-danger" role="alert" *ngIf="nombres.errors && f.submitted">Campo requerido</span></p>
                <div class="data">
                    <input type="text" name="nombres" [(ngModel)]="form.nombres" #nombres="ngModel" required>
                </div>

                <p>Apellidos: * <span class="alert alert-danger" role="alert" *ngIf="apellidos.errors && f.submitted">Campo requerido</span></p>
                <div class="data">
                    <input type="text" name="apellidos" [(ngModel)]="form.apellidos" #apellidos="ngModel" required>
                    
                </div>

                <p>Nombre de usuario: * <span class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">Campo requerido</span></p>
                <div class="data">
                    <input type="text" name="username" [(ngModel)]="form.username" #username="ngModel" required>
                    
                </div>

                <p>Contraseña: * <span class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">Campo requerido</span>
                    <span class="alert alert-danger" role="alert" *ngIf="password.errors?.['minlength']"> Mínimo 8 caracteres</span>
                <div class="data">
                    <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
                        #password="ngModel" minlength="8">
                    
                </div>


                <button type="submit">
                    <p *ngIf="!loading">Continuar</p>
                    <p>
                        <mat-spinner style="margin:0 auto;" [mode]="mode" [color]="color" *ngIf="loading"
                            diameter="20"></mat-spinner>
                    </p>
                </button>
                <div class="form-group">
                    <div class="alert alert-danger error" role="alert" *ngIf="f.submitted && isSignUpFailed">{{
                        errorMessage }}</div>
                </div>
            </form>
        </div>

        <div class="login" *ngIf="isSuccessful && !isSuccessful_empresa"><!---->
            <div class="text">2. Datos de microempresa</div>
            <br>
            <p class="campo-requerido">* Campo requerido</p>
            <form  name="form_empresa" (ngSubmit)="g.form.valid && onSubmitEmpresa()" #g="ngForm" novalidate>
                <p>Razón social: * <span class="alert alert-danger" role="alert" *ngIf="razonSocial.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <input type="text" name="razonSocial" [(ngModel)]="form_empresa.razonSocial" #razonSocial="ngModel" required>
                </div>

                <p>RUC: * <span class="alert alert-danger" role="alert" *ngIf="ruc.errors && g.submitted">Campo requerido</span>
                    <span class="alert alert-danger" role="alert" *ngIf="ruc.errors?.['minlength']">Mínimo 13 números</span>
                    <span class="alert alert-danger" role="alert" *ngIf="ruc.errors?.['maxlength']">Máximo 13 números</span></p>
                <div class="data">
                    <input type="text" name="ruc" [(ngModel)]="form_empresa.ruc" #ruc="ngModel" required minlength="13"
                    maxlength="13" pattern="[0-9]+">
                </div>

                <p>Dirección: * <span class="alert alert-danger" role="alert" *ngIf="direccion.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <input type="text" name="direccion" [(ngModel)]="form_empresa.direccion" #direccion="ngModel" required >
                </div>

                <p>Teléfono: * <span class="alert alert-danger" role="alert" *ngIf="telefono.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <input type="text" name="telefono" [(ngModel)]="form_empresa.telefono" #telefono="ngModel" required >
                </div>

                <p>Correo electrónico: * <span class="alert alert-danger" role="alert" *ngIf="correo.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <input type="email" name="correo" [(ngModel)]="form_empresa.correo" #correo="ngModel" required
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                </div>

                <p>Página web: <span class="alert alert-danger" role="alert" *ngIf="paginaWeb.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <input type="text" name="paginaWeb" [(ngModel)]="form_empresa.paginaWeb" #paginaWeb="ngModel">
                </div>

                <p>Número de empleados (Hombres): * <span class="alert alert-danger" role="alert" *ngIf="empleadosHombres.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <input type="number" name="empleadosHombres" [(ngModel)]="form_empresa.empleadosHombres" #empleadosHombres="ngModel" required>
                </div>

                <p>Número de empleados (Mujeres): * <span class="alert alert-danger" role="alert" *ngIf="empleadosMujeres.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <input type="number" name="empleadosMujeres" [(ngModel)]="form_empresa.empleadosMujeres" #empleadosMujeres="ngModel" required>
                </div>

                <p>Tipo de microempresa: * <span class="alert alert-danger" role="alert" *ngIf="tipo.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <select name="tipo" [(ngModel)]="form_empresa.tipo" #tipo="ngModel" required >
                        <option [value]="a.tipo" *ngFor="let a of tipos">{{a.tipo}}</option>
                    </select>
                </div>

                <p>Actividad de la microempresa: * <span class="alert alert-danger" role="alert" *ngIf="actividad.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <select name="actividad" [(ngModel)]="form_empresa.actividad" #actividad="ngModel" required >
                        <option [value]="a.actividad" *ngFor="let a of actividades">{{a.actividad}}</option>
                    </select>
                </div>

                <p>¿Pertenece a alguna asociación relacionada con la actividad que realiza la microempresa?: * <span class="alert alert-danger" role="alert" *ngIf="perteneceAsociacion.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <select name="perteneceAsociacion" [(ngModel)]="form_empresa.perteneceAsociacion" #perteneceAsociacion="ngModel" required >
                        <option [value]="a" *ngFor="let a of pertenece">{{a}}</option>
                    </select>
                </div>

                <p>¿En caso de no pertenecer a una asociación, estaría dispuesto a asociarse?: * <span class="alert alert-danger" role="alert" *ngIf="quiereAsociacion.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <select name="quiereAsociacion" [(ngModel)]="form_empresa.quiereAsociacion" #quiereAsociacion="ngModel" required >
                        <option [value]="a" *ngFor="let a of pertenece">{{a}}</option>
                    </select>
                </div>

                <p>Provincia: * <span class="alert alert-danger" role="alert" *ngIf="provincia.errors && g.submitted">Campo requerido</span></p>
                <div class="data">
                    <select name="provincia" [(ngModel)]="form_empresa.provincia" #provincia="ngModel" required >
                        <option [value]="a" *ngFor="let a of provincias">{{a}}</option>
                    </select>
                </div>

                <p>Imagen de la microempresa:<span class="alert alert-danger" role="alert" *ngIf="file.errors && g.submitted"></span></p>
                <div class="data">
                    <input type="file" name="file" (change)="onChange($event)" [(ngModel)]="form_empresa.file" #file="ngModel">
                </div>

                <button type="submit">
                    <p *ngIf="!loading_empresa">Registrar</p>
                    <p>
                        <mat-spinner style="margin:0 auto;" [mode]="mode" [color]="color" *ngIf="loading_empresa"
                            diameter="20"></mat-spinner>
                    </p>
                </button>
                <div class="form-group">
                    <div class="alert alert-danger error" role="alert" *ngIf="g.submitted && isSignUpFailed_empresa">{{
                        errorMessage_empresa }}</div>
                </div>
            </form>
        </div>
        <div class="rigth-panel" *ngIf="isSuccessful && isSuccessful_empresa">
            <img src="../../../assets/registerOk.svg" class="image" alt="" />
            <h3>Tu empresa se registró con éxito!</h3>
            <p>Ahora podrás evaluarte para conocer la competitividad y madurez digital de tu empresa</p>
        </div>
    </div>
    <div class="panel">
        <div class="left-panel">
            <div class="content">
                <h3>¿Ya te registraste?</h3>
                <p>Inicia sesión y evalúate para conocer la competitividad y madurez digital de tu empresa.</p>
                <button class="btn-registro" routerLink="/mi-empresa">
                    Inicia sesión
                </button>
            </div>
            <img src="../../../assets/register.svg" class="image" alt="" />
        </div>
    </div>
 
</div>

<app-auspiciantes></app-auspiciantes>
<app-footer></app-footer>
<app-button-top></app-button-top>